body{
	background: #ccc;
}

.right{
text-align: right;
}
.left{
text-align: left;
}
.center{
text-align: center;
}

.inline{
display: inline-block;
}

#left,#right{
float: left;
margin: 5px;
}

#wrapper{
	border: 1px solid #000;
	position: relative;
	overflow: auto;
}
#debug{
	border: 1px solid #000;
}

/*game*/
#game{
	border: 1px solid #000;
}
#game table td{
	vertical-align: top;
	text-align: center;
	padding: 0;
}
#game h2{
	text-align: center;
}
#game > form{
	margin: 10px;
}

.dice, .diceWrapper{
}

.hold{
}
/*game end*/

/*score card*/
#scoreCard{
	border: 1px solid #000;
}
#scoreCard td,#scoreCard th{
	border: 1px solid #000;
}

.how,.type,.player{
	padding: 5px;
}

.select input{
	height: 100%;
	width: 100%;
	text-align: center;
}

.type{
	text-align: center;
}

/*end score card*/

input[type=submit]{
	background: #88671a;
	color: #fff;
	padding: 5px 10px 5px;
	border: none;
	cursor:pointer;
}
input[type=submit]:hover{
	background: #bb9a4d;
}

form{
	text-align: center;
}


